:root {
  --bg-color: hsl(0 0% 95%);
  --text-color: hsl(0 0% 8%);
  --link-color: hsl(210 88% 56%);
  --link-color-hover: hsl(210 88% 50%);
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input, select {
  font: inherit;
  line-height: 1;
  width: 100%;
  padding: var(--space-xs);
}

main {
  width: 100%;
}

.u-flex-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-flow: column;
  text-align: left;
}

/* Code Generator */

.code-generator {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  padding: 2vh 2vw;
  
}

.u-flow > * + * {
  margin-top: var(--flow-space, var(--space-sm));
}

.artist-album-select-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.btn {
  padding: calc(var(--space-xs) + 0.15rem) var(--space-sm) var(--space-xs);
  font: inherit;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  letter-spacing: 0.025rem;
  border: 1px dashed;
  border-radius: 0.15rem;
}

.btn.primary:not(:disabled) {
  background-color: var(--link-color);
  border-style: solid;
  border-color: var(--link-color);
  color: white;
}

.btn.secondary:not(:disabled) {
  background-color:#f2582d;
  border-style: solid;
  border-color: #f2582d;
  color: white;
}

.random-code {
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  color:#2D8EF2;
  text-align: center;

}

/* Add Codes */

.code-totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unused-codes, .used-codes {
  display: flex;
  align-items: center;

}

.form-container {
  padding: clamp(var(--space-sm), 5vw, var(--space-md));
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  text-align: center;
  width: min(400px, 100% - var(--space-md));
  margin: auto;
}